/* Custom page CSS */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap'); */

.container {
	width: auto;
	max-width: 680px;
	padding: 0 30px;
}

.header {
	background-color: #13b188;
}

.footer {
	background-color: #ffffff;
	/* height: 10vh; */	
	background: url(../img/footer_bar.png) no-repeat center center, #ffffff;
	background-size: cover;
	overflow: hidden;
	padding-top: 10vh;
}

body {
	background-color: #13b188;
}

.home-head {
	padding-top: 10vh;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
}

.home-date {
	font-size: 12pt;
}

.home-title {
	margin-top: 8px;
	font-size: 23pt;
	font-weight: bold;
}

.home-container {
	background-color: #ffffff;
	height: 80vh;
	margin-top: 10vh;
	border-radius: 30px;
	width: 100%;
	padding: 30px;
}

.home-enter-box {
	position: relative;
	margin-top: -10vh;
	background-image: url("../img/home_enter.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	border-radius: 10px;
	height: 96vw;
	box-shadow:0px 0.5px 5px #000000;
}

.bottom-align-text {
	position: absolute;
	bottom: 0;
}

.home-enter-text1 {
	font-size: 20pt;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
	position: absolute;
	top: 67%;
	left: 20px;
}

.home-enter-text2 {
	font-size: 13pt;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
	position: absolute;
	top: 77%;
	left: 20px;
}

.home-enter-text3 {
	font-size: 14pt;
	color: #3d856a;
	position: absolute;
	top: 91%;
	left: 20px;
}

.home-enter-text4 {
	width: 5%;
	position: absolute;
	top: 92%;
	left: 90%;
}

.scan-headtext {
	font-size: 13pt;
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0px 1px 1px #000000;
}

.scan-headback {
	width: 6%;
	position: absolute;
	top: 2%;
	left: 5%;
}

.qrscanner {
	position: absolute !important;
	left: 50%;
	bottom: 0;
	min-width: 100%;
	min-height: 93%;
	height: 93%;
	transform: translate(-50%, 0);
}

.scan-img1 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 270px;
	height: 270px;
	margin-top: -135px; /* Half the height */
	margin-left: -135px; /* Half the width */
}

.scan-text1 {
	font-size: 13pt;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
	position: absolute;
	top: 76%;
	left: 38%;
}

.disp-container {
	width: auto;
	padding: 0 50px;
}

.disp-logo {
	width: 30%;
	margin-top: 2rem;
}

.disp-line1 {
	font-size: 12pt;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
	margin-top: 6vh;
}

.disp-line2 {
	font-size: 22pt;
	color: #f9db57;
	text-shadow: 0px 1px 2px #000000;
	margin-top: 0.2rem;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}

.disp-line3 {
	font-size: 13pt;
	color: #ffffff;
	text-shadow: 0px 1px 2px #000000;
	margin-top: 0.2rem;
	font-family: 'Rubik', sans-serif;
}

.disp-line4 {
	width: 29vw;
	margin-top: 5rem;
}

.disp-line5 {
	height: 200px;
	background: url(../img/disp_bottom.png) no-repeat center center;
	background-size: contain;
	overflow: hidden;
}

.disp-exit {
	width: 8%;
	position: absolute;
	top: 5%;
	right: 5%;
}

@font-face {
	font-family: 'Rubik';
	src: url(../fonts/Rubik-VariableFont_wght.ttf);
}


